.main-wrapper, .main-wrapper-active {
  width: 68vw;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-submit-btn, .add-btn {
  border: 1px solid #ff5e5e;
  color: #ff5e5e;
  font-weight: bold;
}
.search-submit-btn:hover, .add-btn:hover {
  background-color: #ff5e5e;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.main-wrapper-active {
  filter: blur(2px);
}

.content-wrapper {
  width: 84%;
  margin: auto;
}

header {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
header h1 {
  color: #f1f1f1;
  letter-spacing: 2px;
  font-size: 40px;
  font-family: 'Frank Ruhl Libre', serif;
  text-shadow: -2px -2px 0px #ff5e5e, 2px 2px 0px #000;
}
header h1:hover {
  text-shadow: -3px -2px 0px #ff5e5e, 3px 2px 0px #000;
}
header form {
  height: 100%;
  display: flex;
  align-items: center;
}
header input {
  height: 100%;
  background: transparent;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
}

.search-inpt-field {
  width: 165px;
  padding-left: 5px;
  margin-right: 12px;
  border: 1px solid #676767;
}

.search-submit-btn {
  cursor: pointer;
  width: 80px;
}

.func {
  width: 100%;
  height: 50px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.top {
  color: #ff5e5e;
}
.top a:hover {
  color: #ab1919;
}

.navigation {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation a {
  cursor: pointer;
  font-size: 20px;
}

.add-teacher {
  outline: none;
  background-color: #fff;
  cursor: pointer;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ff5e5e;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #ff5e5e;
}
.add-teacher:hover {
  background-color: #ff5e5e;
  color: #fff;
}

hr {
  width: 50%;
  height: 1px;
  background-color: #000;
  border: none;
  margin: auto;
  margin-top: 20px;
}

.headers {
  margin-top: 32px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
}

.techers-list-wrapper {
  margin-top: 40px;
  margin-bottom: 50px;
}
.techers-list-wrapper form {
  font-size: 14px;
  margin-bottom: 30px;
}
.techers-list-wrapper label {
  color: #676767;
}
.techers-list-wrapper label:hover {
  color: #000;
}
.techers-list-wrapper input {
  margin-left: 15px;
}

.left-label-check {
  border-right: 2px dotted #676767;
  padding-right: 40px;
}

.teacher-list {
  display: grid;
  margin-top: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}
.teacher-list li {
  list-style: none;
}

.person {
  text-align: center;
  font-size: 20px;
}
.person figcaption {
  font-weight: bold;
  margin: auto;
}

.country {
  width: 100%;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

.teacher-list .favorite:before {
  color: yellow;
  font-size: 25px;
  margin-left: 130px;
  position: absolute;
  content: '\2605';
}

.img-wrapper {
  cursor: pointer;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ff5e5e;
  margin: auto;
  margin-bottom: 20px;
  line-height: 100px;
  color: #ff5e5e;
  font-size: 30px;
}
.img-wrapper img {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: #ff5e5e;
  font-size: 20px;
  text-align: center;
}
.img-wrapper img:hover {
  transform: scale(1.1, 1.1);
}
.img-wrapper:hover {
  border: 4px solid #ab1919;
  font-size: 33px;
  color: #ab1919;
}

.statistics-table {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}
.statistics-table tr {
  width: 100%;
  text-align: center;
}
.statistics-table td {
  height: 30px;
}
.statistics-table th {
  height: 50px;
}
.statistics-table h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid transparent;
  height: 100%;
  line-height: 100%;
}
.statistics-table h4:hover {
  border-bottom: 5px solid #000;
  background-color: #ebebeb;
}

.columns {
  border-bottom: 1px solid #000;
}
.columns .name-coll {
  padding-left: 0px;
}
.columns .name-coll h4 {
  justify-content: left;
  padding-left: 20px;
}

.name-coll {
  text-align: left;
  width: 36%;
  padding-left: 20px;
}

.even {
  background-color: rgba(251, 243, 243, 0.85);
}

.odd {
  background-color: #fff;
}

.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.pagination a {
  color: #275dff;
  cursor: pointer;
  margin-right: 10px;
}
.pagination .current-page {
  color: #000;
}

.favorites-wrapper {
  margin-top: 40px;
  display: flex;
  margin-bottom: 40px;
}

.arrow {
  height: 50px;
  display: block;
  margin: auto;
}
.arrow:hover {
  transform: scale(1.1, 1.1);
}

.favorite-teacher-list {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: start;
  overflow: hidden;
  scroll-behavior: smooth;
  column-gap: 40px;
}
.favorite-teacher-list li {
  list-style: none;
}

.text {
  margin-top: 40px;
}

footer {
  color: #7d66ff;
}
footer a:hover {
  color: #001665;
}

/*********************************************/
/******************POPUPS*********************/
/*********************************************/
.add-popup {
  display: none;
}

.teacher {
  display: none;
}

.teacher-active {
  display: block;
  position: absolute;
  top: calc(50vh - 300px);
  left: calc(50vw - 415px);
  border: 1px solid #000;
  background-color: #fff;
  width: 830px;
  height: 600px;
}
.teacher-active .title {
  width: 100%;
}
.teacher-active .title p:not(.comment) {
  cursor: pointer;
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
}
.teacher-active .title h2 {
  font-weight: normal;
  text-align: center;
  font-size: 38px;
}
.teacher-active .pic-disc {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between;
}
.teacher-active .pic-disc .pic {
  width: 40%;
}
.teacher-active .pic-disc .pic img {
  width: 100%;
}
.teacher-active .pic-disc .disc {
  padding-left: 5%;
  padding-top: 1%;
  width: 60%;
}
.teacher-active .pic-disc .disc h2 {
  font-size: 39px;
  font-weight: normal;
  margin-bottom: 40px;
}
.teacher-active .pic-disc .disc h2:after {
  color: yellow;
  font-size: 40px;
  margin-left: 50px;
  margin-top: -10px;
  position: absolute;
  content: '\2605';
}
.teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.teacher-active .comment {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.teacher-active .map {
  color: #0037ff;
  border-bottom: 1px dashed #0037ff;
  margin-left: 10%;
}

.add-popup-active {
  display: block;
  position: absolute;
  top: calc(50vh - 280px);
  left: calc(50vw - 175px);
  border: 1px solid #000;
  background-color: #fff;
  width: 350px;
  height: 720px;
  font-size: 13px;
}
.add-popup-active p {
  cursor: pointer;
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
}
.add-popup-active h2 {
  text-align: center;
  font-weight: normal;
  font-size: 38px;
  margin-top: -12px;
}
.add-popup-active form {
  width: 60%;
  margin: auto;
  margin-top: 40px;
}
.add-popup-active form input:not(.buttons input, .color, .add-btn), .add-popup-active form select {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.div-radio {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.div-color {
  margin-bottom: 40px;
}
.div-color div {
  float: right;
}
.div-color img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.color {
  width: 50px;
  height: 22px;
}

.buttons input {
  height: 10px;
  margin-left: 10px;
}

.add-btn {
  background-color: #fff;
  height: 60px;
  width: 100%;
  font-size: 30px;
}

@media only screen and (max-width: 1300px) {
  .teacher-list .favorite:before {
    margin-left: 120px;
  }

  .teacher-active {
    top: calc(50vh - 265px);
    left: calc(50vw - 365px);
    width: 730px;
    height: 530px;
  }
  .teacher-active .title p:not(.comment) {
    margin-top: 25px;
    margin-right: 15px;
    font-size: 15px;
  }
  .teacher-active .title h2 {
    font-size: 33px;
  }
  .teacher-active .pic-disc {
    margin-top: 25px;
  }
  .teacher-active .pic-disc .pic {
    width: 40%;
  }
  .teacher-active .pic-disc .pic img {
    width: 100%;
  }
  .teacher-active .pic-disc .disc {
    padding-left: 5%;
    padding-top: 1%;
    width: 60%;
  }
  .teacher-active .pic-disc .disc h2 {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .teacher-active .pic-disc .disc h2:after {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 0px;
  }
  .teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .teacher-active .comment {
    margin-top: 18px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .teacher-active .map {
    font-size: 14px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 1100px) {
  .teacher-list .favorite:before {
    margin-left: 100px;
  }

  .add-popup-active {
    top: calc(50vh - 230px);
  }

  .teacher-active {
    top: calc(50vh - 220px);
    left: calc(50vw - 300px);
    width: 600px;
    height: 440px;
  }
  .teacher-active .title p:not(.comment) {
    margin-top: 20px;
    margin-right: 15px;
    font-size: 12px;
  }
  .teacher-active .title h2 {
    font-size: 28px;
  }
  .teacher-active .pic-disc {
    margin-top: 25px;
  }
  .teacher-active .pic-disc .pic {
    width: 42%;
  }
  .teacher-active .pic-disc .pic img {
    width: 100%;
  }
  .teacher-active .pic-disc .disc {
    padding-left: 5%;
    padding-top: 1%;
    width: 60%;
  }
  .teacher-active .pic-disc .disc h2 {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .teacher-active .pic-disc .disc h2:after {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
    font-size: 12px;
    margin-bottom: 14px;
  }
  .teacher-active .comment {
    margin-top: 18px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  .teacher-active .map {
    font-size: 12px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 900px) {
  .teacher-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .navigation {
    width: 350px;
  }
  .navigation a {
    font-size: 18px;
  }

  .add-teacher {
    margin-top: 6px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }

  header {
    height: 40px;
  }
  header h1 {
    font-size: 35px;
  }

  .func {
    margin-top: 40px;
  }

  hr {
    margin-top: 15px;
  }

  .techers-list-wrapper {
    margin-top: 30px;
  }
  .techers-list-wrapper form {
    margin-bottom: 20px;
  }

  .teacher-list .favorite:before {
    margin-left: 110px;
  }

  .add-popup-active {
    top: calc(50vh - 200px);
  }

  .teacher-active {
    top: calc(50vh - 190px);
    left: calc(50vw - 260px);
    width: 520px;
    height: 380px;
  }
  .teacher-active .title p:not(.comment) {
    margin-top: 20px;
    margin-right: 15px;
    font-size: 10px;
  }
  .teacher-active .title h2 {
    font-size: 24px;
  }
  .teacher-active .pic-disc {
    margin-top: 20px;
  }
  .teacher-active .pic-disc .pic {
    width: 42%;
  }
  .teacher-active .pic-disc .pic img {
    width: 100%;
  }
  .teacher-active .pic-disc .disc {
    padding-left: 5%;
    padding-top: 1%;
    width: 60%;
  }
  .teacher-active .pic-disc .disc h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .teacher-active .pic-disc .disc h2:after {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 0px;
  }
  .teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
    font-size: 11px;
    margin-bottom: 12px;
  }
  .teacher-active .comment {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .teacher-active .map {
    font-size: 10px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .teacher-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navigation {
    width: 250px;
  }
  .navigation a {
    font-size: 14px;
  }

  .search-inpt-field {
    height: 20px;
    width: 100px;
    padding-left: 5px;
    margin-right: 12px;
    font-size: 8px;
  }

  .search-submit-btn {
    font-size: 8px;
    cursor: pointer;
    width: 60px;
    height: 20px;
  }

  .add-teacher {
    margin-top: 7px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  header {
    height: 35px;
  }
  header h1 {
    font-size: 30px;
  }

  .func {
    margin-top: 30px;
  }

  hr {
    margin-top: 10px;
  }

  .headers {
    margin-top: 28px;
    font-size: 30px;
  }

  .techers-list-wrapper {
    margin-top: 20px;
  }

  .main-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .teacher-list .favorite:before {
    margin-left: 120px;
  }

  .add-popup-active {
    top: calc(50vh - 170px);
  }

  .teacher-active {
    top: calc(50vh - 165px);
    left: calc(50vw - 230px);
    width: 460px;
    height: 330px;
  }
  .teacher-active .title p:not(.comment) {
    margin-top: 15px;
    margin-right: 15px;
    font-size: 9px;
  }
  .teacher-active .title h2 {
    font-size: 22px;
  }
  .teacher-active .pic-disc {
    margin-top: 20px;
  }
  .teacher-active .pic-disc .pic {
    width: 42%;
  }
  .teacher-active .pic-disc .pic img {
    width: 100%;
  }
  .teacher-active .pic-disc .disc {
    padding-left: 5%;
    padding-top: 1%;
    width: 60%;
  }
  .teacher-active .pic-disc .disc h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .teacher-active .pic-disc .disc h2:after {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 0px;
  }
  .teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .teacher-active .comment {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 8px;
  }
  .teacher-active .map {
    font-size: 8px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 700px) {
  .teacher-list {
    grid-template-columns: 1fr 1fr;
  }

  .navigation {
    width: 200px;
  }
  .navigation a {
    font-size: 10px;
  }

  .search-inpt-field {
    height: 15px;
    width: 80px;
    padding-left: 5px;
    margin-right: 12px;
    font-size: 5px;
  }

  .search-submit-btn {
    font-size: 5px;
    cursor: pointer;
    width: 40px;
    height: 15px;
  }

  .add-teacher {
    margin-top: 14px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
  }

  header {
    height: 22px;
  }
  header h1 {
    font-size: 20px;
    text-shadow: -1px -0.5px 0px #ff5e5e, 1px 0.5px 0px #000;
  }
  header h1:hover {
    text-shadow: -1.5px -0.5px 0px #ff5e5e, 1.5px 0.5px 0px #000;
  }

  .techers-list-wrapper {
    margin-top: 15px;
  }
  .techers-list-wrapper form {
    font-size: 10px;
  }
  .techers-list-wrapper form input {
    width: 8px;
    height: 8px;
  }

  .statistics-table, .pagination {
    font-size: 10px;
  }

  .func {
    margin-top: 10px;
  }

  hr {
    margin-top: 5px;
  }

  .headers {
    margin-top: 20px;
    font-size: 25px;
  }

  .main-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .teacher-list .favorite:before {
    margin-left: 130px;
  }

  .add-popup-active {
    top: calc(50vh - 120px);
  }

  .teacher-active {
    top: calc(50vh - 130px);
    left: calc(50vw - 185px);
    width: 370px;
    height: 260px;
  }
  .teacher-active .title p:not(.comment) {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 7px;
  }
  .teacher-active .title h2 {
    font-size: 18px;
  }
  .teacher-active .pic-disc {
    margin-top: 15px;
  }
  .teacher-active .pic-disc .pic {
    width: 42%;
  }
  .teacher-active .pic-disc .pic img {
    width: 100%;
  }
  .teacher-active .pic-disc .disc {
    padding-left: 5%;
    padding-top: 1%;
    width: 60%;
  }
  .teacher-active .pic-disc .disc h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .teacher-active .pic-disc .disc h2:after {
    font-size: 15px;
    margin-left: 20px;
    margin-top: 0px;
  }
  .teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
    font-size: 8px;
    margin-bottom: 8px;
  }
  .teacher-active .comment {
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 7px;
  }
  .teacher-active .map {
    font-size: 7px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .teacher-list {
    grid-template-columns: 1fr;
  }

  .navigation {
    width: 100px;
  }
  .navigation a {
    font-size: 5px;
  }

  .search-inpt-field {
    height: 12px;
    width: 60px;
    padding-left: 5px;
    margin-right: 5px;
    font-size: 5px;
  }

  .search-submit-btn {
    font-size: 5px;
    cursor: pointer;
    width: 30px;
    height: 12px;
  }

  .add-teacher {
    margin-top: 17px;
    width: 50px;
    height: 15px;
    line-height: 15px;
    font-size: 7px;
  }

  header {
    height: 16px;
  }
  header h1 {
    font-size: 14px;
    text-shadow: -1px -0.5px 0px #ff5e5e, 1px 0.5px 0px #000;
  }
  header h1:hover {
    text-shadow: -1.5px -0.5px 0px #ff5e5e, 1.5px 0.5px 0px #000;
  }

  .techers-list-wrapper {
    margin-top: 10px;
  }
  .techers-list-wrapper form {
    font-size: 5px;
  }
  .techers-list-wrapper form input {
    width: 5px;
    height: 5px;
  }

  .statistics-table, .pagination {
    font-size: 8px;
  }

  .func {
    margin-top: 5px;
  }

  hr {
    margin-top: 0px;
  }

  .headers {
    margin-top: 10px;
    font-size: 15px;
  }

  .main-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .teacher-list .favorite:before {
    margin-left: 160px;
  }

  .add-popup-active {
    top: calc(50vh - 90px);
  }

  .teacher-active {
    top: calc(50vh - 80px);
    left: calc(50vw - 115px);
    width: 230px;
    height: 160px;
  }
  .teacher-active .title p:not(.comment) {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 5px;
  }
  .teacher-active .title h2 {
    font-size: 12px;
  }
  .teacher-active .pic-disc {
    margin-top: 10px;
  }
  .teacher-active .pic-disc .pic {
    width: 42%;
  }
  .teacher-active .pic-disc .pic img {
    width: 100%;
  }
  .teacher-active .pic-disc .disc {
    padding-left: 5%;
    padding-top: 1%;
    width: 60%;
  }
  .teacher-active .pic-disc .disc h2 {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .teacher-active .pic-disc .disc h2:after {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 0px;
  }
  .teacher-active .pic-disc .disc p, .teacher-active .pic-disc .disc a {
    font-size: 5px;
    margin-bottom: 5px;
  }
  .teacher-active .comment {
    margin-top: 4px;
    margin-bottom: -5px;
    font-size: 4px;
  }
  .teacher-active .map {
    font-size: 4px;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 400px) {
  .techers-list-wrapper {
    margin-top: 7px;
  }
  .techers-list-wrapper form {
    font-size: 4px;
  }
  .techers-list-wrapper form input {
    width: 4px;
    height: 4px;
  }

  .headers {
    margin-top: 7px;
  }

  .teacher-list .favorite:before {
    margin-left: 150px;
  }

  .add-popup-active {
    top: calc(50vh - 120px);
  }

  .add-popup-active {
    top: calc(50vh - 70px);
    left: calc(50vw - 145px);
    width: 290px;
  }
}
